
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Youtube Social Network</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="static/css/network.css" rel="stylesheet"/>
  </head>

    

<body>
    
    <!--Wrapper Wrapper-->
    <div id="mainWrapper">
        <!--Header-->
        <div id="headerDiv">
            <div class="row">
                <div class="col-lg-2"></div>
                
                <div class="col-lg-8">Youtube Social Network</div>
                
                <div class="col-lg-2"></div>
            </div>
            
        </div>
        <!--Body Wrapper-->
        <div id="bodyWrapperDiv">
            <div class="row">
                <div id="sidebar" class="col-lg-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="active"><a href="/home">Home</a></li>
                        <li role="presentation"><a href="/MyAccount">My Account</a></li>
                        <li role="presentation"><a href="Analytics">Analytics</a></li>
                    </ul>
                </div>
                <div id = "ovrflowbodydiv" class="col-lg-8">
                    
                        
                        {% for x in my_string['categories'] %}
                            <h3>{{x['name']}}</h3>
                            <div clas="row">
                            {% for y in x['values'] %}
                                    <div class="col-lg-2 vidThumb">
                                        <div class="subThumb">
                                            <img class="thumbImages"/>
                                            <p>{{y['videoID']}}</p>
                                            <p>Views {{y['views']}}</p>
                                            <p>Comments {{y['comments']}}</p>
                                            <p>Pagerank {{y['PageRank']}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        
                </div>
                <div class="col-lg-2 rightheaderusername">
                    <div class="logoutuname">Username</div>
                    <div class="logoutuname">{{session['username']}}</div>
                    <div class="logoutuname"><a href="logout"><input id="logoutbutton" type="button" class="btn btn-danger" value="Logout"/></a></div>
                </div>
            </div>
        </div>
    </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
    <script type="text/javascript">

   $('.thumbImages').each(function() {

  var num = Math.floor(Math.random() * 22 + 1),
    img = $(this);

  img.attr('src', 'static/images/' + num + '.jpg');
  img.attr('alt', 'Src: ' + img.attr('src'));

});     
        
    </script>
  </body>
</html>
