<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Youtube Social Network</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/network.css" rel="stylesheet"/>
  </head>

    

<body>
    
    <!--Wrapper Wrapper-->
    <div id="mainWrapper">
        <!--Header-->
        <div id="headerDiv">
            Youtube Social Network
        </div>
        
        <div class="container">
            <div class="row">
                <div clas="col-lg-2"></div>
                <div clas="col-lg-8">
                    <div class="loginform">
                        <div class="sublogin">
                            <form action="/login" method="POST">
                                <input class="form-control" name="username" id="username" placeholder="Enter your userID" required/>
                                <input type="submit" class="form-control btn btn-danger" value="Login"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div clas="col-lg-2"></div>
            </div>
        </div>
        
    </div>
</body>
    
</html>